* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #000000;
    min-width: 320px;
}

.container {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
}

.logo {
    background: url('assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    margin-right: auto;
    height: 50px;
    width: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.nav {
    align-self: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font: normal normal 20px/40px 'Roboto', Verdana, sans-serif;
    transition: 0.5s;
}

.main {
    background: url('assets/img/forest.webp');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause {
    background: transparent;
    background: url('assets/svg/play.svg');
    background-repeat: no-repeat;
    background-size: 130px 130px;
    transition: 0.5s;
    border: 0;
    height: 130px;
    cursor: pointer;
    width: 130px;
}

.play-pause:hover {
    filter: brightness(88%);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    gap: 100px;
}

.footer-data {
    display: flex;
    gap: 20px;
    color: #ffffff;
    font: normal normal 20px/40px 'Roboto', Verdana, sans-serif;
    align-self: center;
    margin-right: auto;
}

.github-link {
    text-decoration: none;
    transition: 0.5s;
    color: #ffffff;
}

.nav-link:hover,
.github-link:hover {
    color: #bdae82;
}

.download {
    background: url('assets/svg/download.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
    height: 50px;
    cursor: pointer;
    width: 50px;

}

.rss-logo {
    background: url('assets/svg/rss.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
    height: 50px;
    cursor: pointer;
    width: 135px;
}

.logo:hover,
.rss-logo:hover,
.download:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}