:root {
    --color-black: #000000;
    --color-gold: #bdae82;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.container {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header,
.footer {
    background: var(--color-black);
    margin-bottom: auto;
}

.header-container {
    padding: 5px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    background: url('assets/svg/swan.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
    height: 50px;
    cursor: pointer;
    width: 50px;
}

.main {
    height: calc(100vh - 120px);
 }

.main-container {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    perspective: 1200px;
}

.memory-card {
    position: relative;
    width: calc(20% - 8px);
    height: calc(25% - 8px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.3s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.back,
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #3700ff;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.footer-data {
    display: flex;
    gap: 20px;
    color: var(--color-white);
    font: normal normal 20px/40px 'Poppins', 'Roboto', Verdana, sans-serif;
    align-self: center;
    margin-right: auto;
}

.github-link {
    text-decoration: none;
    transition: 1s;
    color: var(--color-white);
}

.github-link:hover {
    color: var(--color-gold);
}

.rss-logo {
    background: url('assets/svg/rss.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
    height: 50px;
    cursor: pointer;
    width: 135px;
}

.logo:hover,
.rss-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}