@font-face {
    font-family: 'Merriweather';
    src: url("assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --gold: #bdae82;
    --bg-dark: #000000;
    --white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --font3: 20px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font: normal var(--font3) 'Inter', sans-serif;
    color: var(--white);
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: url('assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    color: var(--white);
    align-items: center;
    font-size: var(--font3);
}

.logo {
    background-image: url('assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 50px;
    height: 50px;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    margin-left: auto;
    padding: 0 18px;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 15px;
    color: var(--white);
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
}

.switch-lng {
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-weight: 700;
    line-height: 50px;
}

.en {
    color: var(--gold);
}

.ru {
    color: var(--white);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
}

.hero {
    position: relative;
    background-image: url('assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 910px;
}

.hero-container {
    position: absolute;
    top: 112px;
    left: 80px;
    width: 500px;
    padding: 20px 0;
}

.hero-title {
    font: normal var(--font1) 'Merriweather', serif;
    margin-bottom: 32px;
}

.hero-text {
    margin: 0;
    padding-right: 20px;
    line-height: 40px;
}

.button-gold {
    background-color: var(--gold);
    border: 0;
    width: 220px;
    height: 55px;
    margin-top: 27px;
    cursor: pointer;
    font-family: inherit;
    font-size: var(--font3);
    font-weight: 400;
}

.section-title {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: var(--font2);
    color: var(--gold);
}
