:root {
    --gold: #bdae82;
    --bg-dark: #000000;
    --white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --font3: 20px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font: normal normal var(--font3) 'Inter', sans-serif;
    color: var(--white);
    background: var(--bg-dark);
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: url('assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    color: var(--white);
    align-items: center;
    font-size: var(--font3);
    gap: 32px;
}

.logo {
    background-image: url('assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.5s;
    width: 50px;
    height: 50px;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 31px;
}

.nav-link {
    color: var(--white);
    line-height: 50px;
    transition: 0.5s;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--gold);
}

.switch-lng {
    display: flex;
    gap: 10px;
    line-height: 50px;
    font-weight: 700;
}

.en {
    color: var(--gold);
}

.ru {
    color: var(--white);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
}

.hero-container {
    position: relative;
    background-image: url('assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
}

.hero {
    position: absolute;
    top: 112px;
    left: 80px;
    width: 500px;
    padding: 20px 0;
}

.hero-title {
    font: normal 700 var(--font1) 'Merriweather', serif;
    margin-bottom: 33px;
}

.hero-text {
    margin: 0;
    padding-right: 20px;
    line-height: 40px;
    margin-bottom: 25px;
}

.button-gold {
    background-color: var(--gold);
    border: 0;
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: 0.5s;
    font-family: inherit;
    font-size: var(--font3);
    font-weight: 400;
}

.button-transparent {
    background-color: var(--bg-dark);
    border: 2px solid var(--gold);
    width: 220px;
    height: 55px;
    cursor: pointer;
    font-family: inherit;
    transition: 0.5s;
    color: var(--gold);
    font-size: var(--font3);
    font-weight: 400;
}

.button-gold:hover,
.button-transparent:hover {
    color: var(--white);
}

.section {
    margin: 0;
    padding: 0 20px;
}

.skills-container,
.portfolio-container,
.video-container,
.price-container {
    background: var(--bg-dark);
}

.container-title {
    width: 50%;
    margin: 0 auto;
    padding-top: 82px;
}

.section-title {
    display: flex;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: var(--font2);
    color: var(--gold);
    margin-bottom: 75px;
}

.section-title::before,
.section-title::after {
    content: "";
    background: var(--gold);
	height: 2px;
    flex: 1;
    margin: auto;
}

.section-title::before {
    margin-right: 21px;
}

.section-title::after {
    margin-left: 21px;
}
.skill-items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
}

.skill-item {
    background-position: top center;
    background-repeat: no-repeat;
    width: 320px;
}

.skill-item:nth-child(1) {
    background-image: url('assets/svg/camera.svg');
    background-size: 62px 50px;
}

.skill-item:nth-child(2) {
    background-image: url('assets/svg/video.svg');
    background-size: 62px 50px;
}

.skill-item:nth-child(3) {
    background-image: url('assets/svg/image.svg');
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url('assets/svg/mic.svg');
    background-size: 62px 50px;
}

.skill-title {
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
    font-weight: 700;
}

.skill-text {
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.portfolio-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
}

.video-container {
    margin-top: -5px;
}

.video-title {
    margin-top: -1px;
}

.video-player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player-button {
    position: absolute;
    background: transparent;
    background-image: url('assets/svg/Play_hover.svg');
    background-repeat: no-repeat;
    transition: 0.5s;
    border: 0;
    color: var(--white);
    height: 130px;
    width: 130px;
}

.video-player-button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price-items {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}


.price-item {
    border: 3px solid var(--gold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.price-item-title {
    font: normal 700 28px/56px 'Merriweather', serif;
    padding-bottom: 21px;
    margin: 0;
}

.price-item-dollars {
    font: normal 700 24px/48px 'Merriweather', serif;
    color: var(--gold);
    padding-bottom: 20px;
    margin: 0;
}

.price-item-description {
    font: normal normal 18px/36px 'Inter', sans-serif;
    padding-bottom: 39px;
}

.price-item-description-line {
    display: block;
    text-align: center;
}

.price-item-button {
    padding: 0 112px;
}

.contacts-container {
    background-image: url('assets/img/contacts-bg.jpg');
    background-size: auto auto;
    background-position: center 0;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    height: 700px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.contacts-title {
    margin: 75px 0 35px 0;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: var(--font2);
    color: var(--gold);
}

.email,
.tel {
    padding-top: 2px;
    background: rgba(0, 0, 0, 0.5);
    font-family: inherit;
    color: #bdae82;
    border: 2px solid var(--gold);
    font-size: 20px;
    line-height: 40px;
    height: 50px;
    transition: 0.5s;
    padding-left: 3px;
    cursor: pointer;
    outline: 0;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    padding-left: 16px;
}

.message {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--gold);
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    resize: none;
    width: 450px;
    transition: 0.5s;
    height: 100px;
    margin-bottom: 10px;
    outline: 0;
}

.email:focus,
.tel:focus,
.message:focus {
    border: 2px solid var(--white);
}

.footer-container {
    display: flex;
    background: var(--bg-dark);
    color: var(--white);
    align-items: center;
    font-size: var(--font3);
    justify-content: space-between;
}

.footer-data {
    display: flex;
    gap: 21px;
    padding: 50px 0;
}

.copyright,
.year,
.github {
    line-height: 50px;
}

.footer-link {
    line-height: 50px;
    color: var(--white);
    transition: 0.5s;
    text-decoration: none;
}

.footer-link:hover {
    color: var(--gold);
}

.rss-link {
    padding-left: 59px;
}

.social-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.instagram {
    background-image: url('assets/svg/instagram.svg');
}

.facebook {
    background-image: url('assets/svg/facebook.svg');
}

.twitter {
    background-image: url('assets/svg/twitter.svg');
}

.pinterest {
    background-image: url('assets/svg/pinterest.svg');
}

.instagram,
.facebook,
.twitter,
.pinterest {
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.5s;
    width: 32px;
    height: 32px;
}

.instagram:hover,
.facebook:hover,
.twitter:hover,
.pinterest:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}