@font-face {
    font-family: 'Merriweather';
    src: url("assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --gold: #bdae82;
    --bg-dark: #000000;
    --white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --font3: 20px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font: normal var(--font3) 'Inter', sans-serif;
    color: var(--white);
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: url('assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    color: var(--white);
    align-items: center;
    font-size: var(--font3);
}

.logo {
    background-image: url('assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 50px;
    height: 50px;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    margin-left: auto;
    padding: 0 18px;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 15px;
    color: var(--white);
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
}

.switch-lng {
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-weight: 700;
    line-height: 50px;
}

.en {
    color: var(--gold);
}

.ru {
    color: var(--white);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
}

.hero {
    position: relative;
    background-image: url('assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
}

.hero-container {
    position: absolute;
    top: 112px;
    left: 80px;
    width: 500px;
    padding: 20px 0;
}

.hero-title {
    font: normal var(--font1) 'Merriweather', serif;
    margin-bottom: 33px;
}

.hero-text {
    margin: 0;
    padding-right: 20px;
    line-height: 40px;
    margin-bottom: 25px;
}

.button-gold {
    background-color: var(--gold);
    border: 0;
    width: 220px;
    height: 55px;
    cursor: pointer;
    font-family: inherit;
    font-size: var(--font3);
    font-weight: 400;
}

.button-transparent {
    background-color: var(--bg-dark);
    border: 2px solid var(--gold);
    width: 220px;
    height: 55px;
    cursor: pointer;
    font-family: inherit;
    color: var(--gold);
    font-size: var(--font3);
    font-weight: 400;
}

.section {
    margin: 0;
    padding: 0 20px;

}

.skills-container,
.portfolio-container {
    background: var(--bg-dark);
}

.container-title {
    width: 50%;
    margin: 0 auto;
    padding-top: 82px;
}

.section-title {
    position: relative;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: var(--font2);
    color: var(--gold);
    overflow-x: hidden;
    margin-bottom: 75px;
}

.section-title::before {
    position: absolute;
    content: "";
    background: var(--gold);
	top: 48%;
	left: 0;  
    right: 10px;      
	width: 39%;
	height: 2px; /* ширина линии */
}

.section-title::after {
    position: absolute;
    content: "";
    background: var(--gold);
    right: 0;
	top: 48%;
	width: 39%;
	height: 2px; /* ширина линии */
}

.skills {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: stretch;
    flex-wrap: wrap;
}

.skill-item {
    background-position: top center;
    background-repeat: no-repeat;
    width: 21%;
}

.skill-item:nth-child(1) {
    background-image: url('assets/svg/camera.svg');
    background-size: 62px 50px;
}

.skill-item:nth-child(2) {
    background-image: url('assets/svg/video.svg');
    background-size: 62px 50px;
}

.skill-item:nth-child(3) {
    background-image: url('assets/svg/image.svg');
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url('assets/svg/mic.svg');
    background-size: 62px 50px;
    padding-left: 8px;
    padding-right: 3px;
}

.skill-title {
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
    font-weight: 700;
}

.skill-text {
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 10px;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.portfolio-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
}