* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    font: normal normal 16px/30px 'Roboto', Verdana, sans-serif;
}

.container {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.audio-player {
    width: 350px;
    background: violet;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cover {
    width: 100%;
    height: 350px;
    background: turquoise;
}

.controls {
    display: flex;
    flex-direction: column;
}

.control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px;
}

.prev,
.play,
.next {
    background: transparent;
    background-size: 50px 50px;
    background-position: center;
    border: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.progress {
    background: linear-gradient(to right, #bdae82 0%, #bdae82 0%, #acacac 0%, #acacac 100%);
    height: 7px;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 4px;
    height: 15px;
    border-radius: 25%;
    -webkit-appearance: none;
    cursor: pointer;
    background: red;
}

.prev {
    background-image: url('assets/svg/prev.svg');
}

.play {
    background-image: url('assets/svg/play.svg');
}

.next {
    background-image: url('assets/svg/next.svg');
}

.pause {
    background-image: url('assets/svg/pause.svg');
}

.time {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.footer {
    background: #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    gap: 100px;
}

.footer-data {
    display: flex;
    gap: 20px;
    color: #ffffff;
    font: normal normal 20px/40px 'Roboto', Verdana, sans-serif;
    align-self: center;
    margin-right: auto;
}

.github-link {
    text-decoration: none;
    transition: 1s;
    color: #ffffff;
}

.github-link:hover {
    color: #bdae82;
}

.rss-logo {
    background: url('assets/svg/rss.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
    height: 50px;
    cursor: pointer;
    width: 135px;
}

.prev:hover,
.play:hover,
.next:hover,
.rss-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}